@{
    ViewData["Title"] = "Error";
 }

 @model ErrorViewModel


<div class="mt-5">
    <h1 class="text-danger">OOOPS :(</h1>
    <h2 class="text-danger">Doslo je do greske!</h2>

    <p class="mt-5">
        <b>Izvor greske</b>: @Model.ErrorSource
    </p>
    <p>
        <b>Greska:</b> @Model.ErrorMessage
    </p>
    <p>Molimo vas da kontaktirate podrsku.</p>
</div>

<div>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Nazad na pocetnu</a>

</div>
